# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
endpoints/__pycache__/

secrets.env.yml

lambdas/stepFunctionLambdas/__pycache__/

lambdas/endpoints/__pycache__/
